.emailWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .emailWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 4000;
    gap: 20px;
  }

  .emailRotateText {
    transform: rotate(90deg);
    margin-bottom: 150px;
    width: 30px;
  }

  .emailText {
    transition: all 0.3s ease;
    line-height: 0;
}

  .emailText:hover {
    color: var(--color-primary);
  }

  .line {
    background-color: var(--color-text);
    width: 1px;
    height: 100px;
    transition: background-color 0.3s ease;
  }


}
