.footerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footerWrapper span{
    color: var(--color-primary);
}

.footerWrapper a:hover{
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}