.btnTheme {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.icon {
  fill: var(--color-text);
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.visibleIcon {
  animation: rotateIcon 1s ease;
  opacity: 1;
}
.hiddenIcon {
  opacity: 0;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
